In [8]:
import pandas as pd

df1 = pd.DataFrame({
'key': ['A', 'B', 'C'],
'value1': [1, 2, 3]
})

df2 = pd.DataFrame({
'key': ['A', 'B', 'D'],
'value2': [4, 5, 6]
})

In [9]:
print ("first df")
df1

first df

  key  value1
0   A       1
1   B       2
2   C       3

In [10]:
print ("\nsecond df")
df2

second df

  key  value2
0   A       4
1   B       5
2   D       6

In [12]:
# Merge the two dataframes based on the 'key' column

merged_df = pd.merge(df1, df2, on='key')

merged_df

  key  value1  value2
0   A       1       4
1   B       2       5

In [ ]:
# sugli stessi dataframe creare una join che mostri tutte le righe di entrambi

merged_df2 = pd.merge(df1, df2, on='key', how='outer')

merged_df2

  key  value1  value2
0   A     1.0     4.0
1   B     2.0     5.0
2   C     3.0     NaN
3   D     NaN     6.0