In [ ]:
import numpy as np
import pandas as pd
df1 = pd.DataFrame({
'chiave1': ['K0', 'K1', 'K2'],
'chiave2': ['K0', 'K1', 'K0'],
'A': ['A0', 'A1', 'A2']
})

df2 = pd.DataFrame({
'chiave1': ['K0', 'K1', 'K3'],
'chiave2': ['K0', 'K0', 'K0'],
'B': ['B0', 'B1', 'B3']
})

  chiave1 chiave2   A
0      K0      K0  A0
1      K1      K1  A1
2      K2      K0  A2


  chiave1 chiave2   B
0      K0      K0  B0
1      K1      K0  B1
2      K3      K0  B3

In [ ]:
# Unire df1 e df2 sulle colonne 'chiave1' e 'chiave2' includendo tutte le righe di df1
df_unito = pd.merge(df1, df2, on=['chiave1', 'chiave2'], how='left')

# Visualizzare il risultato
print(df_unito)

  chiave1 chiave2   A    B
0      K0      K0  A0   B0
1      K1      K1  A1  NaN
2      K2      K0  A2  NaN

In [13]:
df1.combine_first(df2)

    A   B chiave1 chiave2
0  A0  B0      K0      K0
1  A1  B1      K1      K1
2  A2  B3      K2      K0